:root {
	font-size: 17px;
}

@font-face {
	font-family: "atkinson";
	src: url("../fonts/woff/Atkinson-Hyperlegible-Regular-102.woff");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'Dosis', sans-serif;
	color: white;
}

a {
	color: white;
}

a:hover {
	color: rgb(7, 172, 156);
}

small {
	font-size: 15px;
}

/* --- ACCESSIBILITY - BEGIN */

#accessPanel {
	position: fixed;
	top: -165px;
	left: 10px;
	z-index: 9999;
	font-family: "atkinson", sans-serif;
	font-size: 20px;
}

.access-panelButton {
	border-width: 0 0 1px 0;
	border-style: solid;
	color: white;
	background-color: black;
	padding: 5px;
	cursor: pointer;
}

#access-button {
	color: black;
	background-color: white;
	border-width: 1px 0 5px 0;
	font-size: 25px;
	width: fit-content;
	height: 50px;
	/* content: "👁‍🗨"; */
	/* content: "\01F441"; */
}

/* --- ACCESSIBILITY - END */

#global-center {
	width: 80%;
}

.container {
	/* BOOSTRAP OVERRIDE */
	/* width: 80%; */
	padding: 0;
}

.col {
	/* BOOSTRAP OVERRIDE */
	text-align: left;
}

.fullBack {
	background: black;
}

.gradient-1 {
	background: rgb(232, 93, 43);
	background: -moz-linear-gradient(90deg, rgba(232, 93, 43, 1) 0%, rgba(4, 4, 248, 1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(232, 93, 43, 1) 0%, rgba(4, 4, 248, 1) 100%);
	background: linear-gradient(90deg, rgba(232, 93, 43, 1) 0%, rgba(4, 4, 248, 1) 100%);
}

.gradient-2 {
	background: rgb(7, 172, 156);
	background: -moz-linear-gradient(90deg, rgba(7, 172, 156, 1) 0%, rgba(106, 4, 248, 1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(7, 172, 156, 1) 0%, rgba(106, 4, 248, 1) 100%);
	background: linear-gradient(90deg, rgba(7, 172, 156, 1) 0%, rgba(106, 4, 248, 1) 100%);
}

.gradient-3 {
	background: rgb(250, 132, 88);
	background: -moz-linear-gradient(90deg, rgba(250, 132, 88, 1) 0%, rgba(7, 172, 156, 1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(250, 132, 88, 1) 0%, rgba(7, 172, 156, 1) 100%);
	background: linear-gradient(90deg, rgba(250, 132, 88, 1) 0%, rgba(7, 172, 156, 1) 100%);
}

.navbar-fuzzy {
	background: none;
	border-width: 0 0 1px 0;
	border-color: white;
	height: 62px;
	border-style: solid;
}

.nav-item {
	text-align: end;
	padding: 10px;
	/* background-color: rgba(255,255,255,0.5); */
}

.nav-link {
	/* BOOSTRAP OVERRIDE */
	color: white !important;
}

.nav-link:hover {
	/* BOOSTRAP OVERRIDE */
	color: rgb(184, 184, 184) !important;
}

#selectedMenuOption{
	border-width: 1px 0px 0px 0px;
	border-color: white;
	border-style: solid;
	
}

#initial-screen-size {
	height: 50vh;
}

#weAre {
	max-width: 79px;
	padding: 0;
	text-orientation: unset;
	writing-mode: vertical-lr;
}

#bigFuzzy h1 {
	font-size: 7vw;
	font-weight: 200;
}

#descriptionFuzzy h2 {
	font-size: 1.5vw;
	font-weight: 200;
	width: 24vw;
}

.textBlockFuzzy {
	margin-top: 10px;
	margin-bottom: 10vw;
	margin-left: 20%;
	line-height: 2rem;

}

.textBlockFuzzy p {
	font-size: 17px;
	font-weight: 200;
	padding: 0;
}

.textBlockFuzzy-legible {
	font-family: "atkinson";
	font-size: 25px;
	line-height: 3rem;
	/* padding: 0; */
}

.block-section {
	border: 1px solid white;
	border-width: 1px 0 1px 0;
}

.block-image {
	margin: 20px 0 80px 20%;
}

.card {
	/* BOOSTRAP OVERRIDE */
	/* width: auto; */
	/* margin: 0 10% 0 10%; */
	/* border: 1px solid red; */
	/* background-color: black; */
	background: none;
	border: none;
	padding: 35px;
	/* margin: 10px; */
	/* min-width: fit-content; */
}

.list-group-item {
	/* BOOSTRAP OVERRIDE */
	background: none;
	/* margin-left: 20%; */
	padding-left: 0;
}

.card-bioFuzzy {
	padding: 10px;
}

.card h3 {
	font-size: 30px;
}

.edition-image-fuzzy {
	margin-right: 20px;
}

.profile-image-fuzzy {
	width: 80%;
}

#bordersButton {
	cursor: pointer;
}

#connectionsButton {
	cursor: pointer;
}

.littleFlag {
	border: 1px solid white;
	position: absolute;
	z-index: 1;
	transform: translateX(-22px) rotate(-20deg);
	border-width: 1px 0 1px 0;
	background-color: rgba(202, 81, 68, 0.5);
	padding: 5px;
	font-size: 14px;
}

@media only screen and (max-width: 800px) {
	.nav-item {
		width: 50%;
		margin-left: auto;
		background-color: rgb(0, 0, 0, 0.5);
	}

	.navbar-toggler{
		background-color: rgb(0, 0, 0, 0.5);;
	}

	#bigFuzzy h1 {
		font-size: 10vw;
		font-weight: 200;
	}
	#descriptionFuzzy h2 {
		font-size: 4.5vw;
		font-weight: 200;
		width: 50vw;
	}
	.card {
		text-align: center;
	}
	.card-bioFuzzy {
		padding: 5px;
		font-size: 14px;
		text-align: left;
	}
	/* .card h3{
		font-size: 3vw;
	} */
	.edition-image-fuzzy {
		margin-bottom: 20px;
	}
	.textBlockFuzzy {
		margin-left: 10%;
	}
	#textBlockFuzzy p {
		font-size: 14px;
		font-weight: 200;
		line-height: 1.5rem;
		/* width: 24vw; */
		margin-left: 10%;
		padding: 0;
	}
}